$rutgers: #b20002;
$salesianum: #021b4b;

$alt-color: #fff;
$interact-alt-color: #555;
$accent-subtle-color: #ddd;
$link-color: #008cba;

$brand-colors: (
  facebook: #3b5998,
  instagram: #92634f,
  linkedin: #007bb6,
  rdio: #0090d5,
  twitter: #00aced,
  youtube: #cd201f
);

$code-background: #2d2d2d;
$code-color: #ccc;
$code-js-reserved: #9c9;
