@import 'reset';
@import 'mixins';
@import 'breakpoints';
@import 'palette';

@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import 'breakpoint/breakpoint';
@import "bower_components/font-awesome/scss/font-awesome";
@import 'material-colors';
@import 'grid';
@import 'colors';
@import 'scaffolding';
@import 'todo';
@import 'code';

@import 'vendor/cssgram/cssgram';

@import 'styleguide';

@import 'ember-reveal-js';
// ember-freestyle
$breakpoints: map-merge($breakpoints, ('large': 600px));
// Collectrium auction-search-result
$breakpoints: map-merge($breakpoints, ('wide': 1200px));
$breakpoints: map-merge($breakpoints, ('mega': 1400px));

$FreestyleGuide-color--primary: freestyle-color('primary');
$FreestyleGuide-color--accent: freestyle-color('accent');
$FreestyleGuide-color--secondary: freestyle-color('secondary');
$FreestyleGuide-color--foreground: freestyle-color('foreground');
$FreestyleGuide-color--background: freestyle-color('background');
@import 'ember-freestyle';

@import 'presentations/living-style-guide-driven-development/print';
@import 'presentations/living-style-guide-driven-development/theme';
@import 'presentations/living-style-guide-driven-development/slides';
@import 'presentations/living-style-guide-driven-development/styles';

@import 'components/all';
