<div class="AuctionSearchResult-artist">
  {{document.artwork_title}}
</div>
<div class="AuctionSearchResult-catalog">
  {{#if description}}
    {{truncate-multiline text=description truncate=truncate showButton=false lines=3}}
  {{/if}}
</div>
