{{!-- BEGIN-FREESTYLE-USAGE example-helloWorld-tomsterLogo --}}
<a class="TomsterLogo {{if party 'TomsterLogo--party'}} {{if cameo 'TomsterLogo--cameo'}}"
  title="Go to the EmberConf 2016 Homepage">
</a>
{{!-- END-FREESTYLE-USAGE --}}
