{{#presentations/benefit-slide
    lede="Enforced Encapsulation"
    qualifier="A benefit of living style guide driven development"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Avoid leaky abstractions</li>
    <li class="BenefitSlide-detailListItem">Promote composability</li>
    {{!-- <li class="BenefitSlide-detailListItem">Distill design intent</li>
    <li class="BenefitSlide-detailListItem">Guarantee reusability</li> --}}
  </ul>
{{/presentations/benefit-slide}}
