{{#presentations/benefit-slide
    lede="Design Durability"
    qualifier="A benefit of living style guide driven development"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Continually evaluate design performance</li>
    <li class="BenefitSlide-detailListItem">Make it difficult to regress</li>
  </ul>
{{/presentations/benefit-slide}}
