{{#presentations/benefit-slide
    lede="Rapid Prototyping and Feedback"
    qualifier="A benefit of living style guide driven development"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Unblock UI work at project onset</li>
    <li class="BenefitSlide-detailListItem">Eliminate design review latency</li>
  </ul>
{{/presentations/benefit-slide}}
