{{#presentations/benefit-slide
    lede="Design Polish"
    qualifier="A benefit of living style guide driven development"
}}
  <ul class="BenefitSlide-detailList">
    <li class="BenefitSlide-detailListItem">Apply finishing touches</li>
    <li class="BenefitSlide-detailListItem">Don't mock them</li>
  </ul>
{{/presentations/benefit-slide}}
