{{#presentations/benefit-slide
    lede="Easy Onboarding"
    qualifier="A benefit of living style guide driven development"
}}
  <ul class="BenefitSlide-detailList">
    {{!-- <li class="BenefitSlide-detailListItem">Document patterns in one place</li> --}}
    <li class="BenefitSlide-detailListItem">Contribute from day one</li>
    <li class="BenefitSlide-detailListItem">Absorb application complexity over time</li>
  </ul>
{{/presentations/benefit-slide}}
