{{#reveal-slide class="lsgdd-Year2009Slide"}}
  {{presentations/slide-header
    super=""
    main="Common Problems"
    sub="Without Common Solutions"
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        Experience demonstrated that the problems I was encountering were not one-offs but more universal in nature.
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        Where patterns emerge there are opportunities for shared solutions.
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        Things are often easier said than done.
      </div>
    </div>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
