{{#reveal-slide}}
  {{presentations/slide-header
    super=""
    main="Design Confusion"
    sub=""
  }}
  {{#presentations/slide-body columns=2 display="flex"}}
    {{#presentations/slide-column}}
      <img class="lsgdd-Image u-rounded lsgdd-DesignConfusionSlide-image--consultantDoctor" src="assets/images/presentations/living-style-guide-driven-development/consultant-doctor.jpg" alt="Design confusion can be life-threatening. Please see a highly paid consultant doctor if symptoms persist.">
      <div class="lsgdd-DisclaimerText">
        Please see some kind of highly paid consultant doctor if you experience any of these symptoms.
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}Symptoms May Include{{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
        <ul>
          <li>Designing impossible things</li>
          <li>Losing things you designed</li>
          <li>Building things you didn't need</li>
          <li>Headaches &amp; nausea</li>
          <li>Sleep eating</li>
        </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
