{{#reveal-slide class="lsgdd-ObjectivesEmberSlide"}}
  {{presentations/slide-header
    super=""
    main="Ember Fueled"
    sub="Benefits of Living Style Guide Driven Development"
  }}
  {{#presentations/slide-body}}
    {{#presentations/slide-list}}
      {{#presentations/slide-list-item}}Lean into the framework{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item type="sub"}}
      <ul>
        <li>Tooling</li>
        <li>Conventions</li>
      </ul>
      {{/presentations/slide-list-item}}
    {{/presentations/slide-list}}
    <div class="lsgdd-ObjectivesEmberSlide-solution u-flex100 fragment">
      <span class="lsgdd-InlineCode">ember install solution</span>
    </div>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image lsgdd-ObjectivesEmberSlide-image--tomsterBuiltWith" src="assets/images/presentations/zoey-ember.png" alt="Built With Ember">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
- Today's Ember tooling is fantastic
- Tremendous jumpstart to any project
- Take you back to a darker age, simpler time
  {{/reveal-slide-notes}}
{{/reveal-slide}}
