{{#reveal-slide class="lsgdd-FreestyleIntroSlide"}}
  {{presentations/slide-header
    super=""
    main="Create A Living Style Guide"
    sub="Your Ember App Deserves It"
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-Quote u-flex100">
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced">
        Everything™ in a modern Ember app is made from components...
      </div>
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced">
        so I guess we should make a style guide component.
      </div>
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced fragment" data-fragment-index="1">
        Maybe someone else has already done this...
      </div>
    </div>
    <div class="lsgdd-FreestyleIntroSlide-solution u-flex100 fragment" data-fragment-index="2">
      <span class="lsgdd-InlineCode">ember install ember-freestyle</span>
    </div>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer fragment" data-fragment-index="1">
      <img class="lsgdd-Image u-rounded lsgdd-FreestyleIntroSlide-image--emberObserver" src="images/presentations/living-style-guide-driven-development/ember-observer.png" alt="Ember Observer">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
