{{#reveal-slide class="lsgdd-IntroSlide"}}
  {{presentations/slide-header
    main="Chris LoPresto"
    sub="Some Things About Me"
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded u-grayscale lsgdd-IntroSlide-image--chrisLoPrestoBrokenPiano willow" src="images/presentations/chris-lopresto-broken-piano.jpg" alt="Chris LoPresto">
    </div>
    {{#presentations/slide-list class="lsgdd-TightContainer"}}
      {{#presentations/slide-list-item}}I live in NYC{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item}}I work at Yapp{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item}}I was CTO of Plyfe{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item}}I play the piano{{/presentations/slide-list-item}}
    {{/presentations/slide-list}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image lsgdd-IntroSlide-image--tomsterNyc" src="images/presentations/tomster-nyc.png" alt="NYC Tomster">
    </div>
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image lsgdd-IntroSlide-image--yapp" src="images/presentations/yapp-logo.png" alt="Yapp">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
- NYC
- Yapp / Ember apps => mobile apps => Ember apps
- CTO / Plyfe
- Piano
- chrislopresto / Twitter / GitHub / everywhere / Hotmail
- I am an engineer, team leader, scorpio...
  {{/reveal-slide-notes}}
{{/reveal-slide}}
