{{#reveal-slide}}
  {{presentations/slide-header
    super=""
    main="Long Feedback Loops"
    sub="Create Design Confusion"
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        The path from idea to launch is rarely a straight line
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        Surprises are inevitable
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        Teams must roll nimbly with the punches
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        Delayed feedback causes churn
      </div>
    </div>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
