{{#reveal-slide class="lsgdd-ManifestoInspirationSlide"}}
  {{presentations/slide-header
    super=""
    main="Inspiration via Manifesto"
    sub="A blog post that got my wheels turning"
  }}
  {{#presentations/slide-body columns=2 display="flex"}}
    {{#presentations/slide-column class="lsgdd-ManifestoInspirationSlide-tweet"}}
      <div class="lsgdd-TightContainer">
        <a href="https://twitter.com/_HHFF/status/583293529755033600">
          <img class="lsgdd-Image u-rounded lsgdd-ManifestoInspirationSlide-image--tweet" src="images/presentations/living-style-guide-driven-development/manifesto-inspiration-tweet.png" alt="An Agile Design Manifesto Tweet">
        </a>
      </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column class="lsgdd-ManifestoInspirationSlide-quoteColumn"}}
      <div class="lsgdd-Quote u-flex100 lsgdd-ManifestoInspirationSlide-quote">
        <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced lsgdd-ManifestoInspirationSlide-quoteText">
          Whenever a new Ember component was built, we’d add it to the “styleguide” route, so that our CSS grand maester could build out the visual detail and interaction style without having to delve too deep into application code.
        </div>
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
