{{#reveal-slide class="lsgdd-MorePerfectUnionSlide"}}
  {{presentations/slide-header
    super=""
    main="A More Perfect Union"
    sub="Design + Engineering"
  }}
  {{#presentations/slide-body columns=1}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list class="lsgdd-TightContainer"}}
        {{#presentations/slide-list-item}}
          Optimize for collaboration
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Favor simple and nimble
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Have fun
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}

  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <a href="https://twitter.com/johnmaeda/status/708286609653760001">
        <img class="lsgdd-Image u-rounded lsgdd-MorePerfectUnionSlide-image--tweet" src="images/presentations/living-style-guide-driven-development/design-engineering-partner-soul.png" alt="It's all about soul">
      </a>
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
