{{#reveal-slide class="lsgdd-GreenSlide"}}
  {{presentations/slide-header
    super=""
    main="This is not a design talk"
    sub="Let's not attempt to pick the proper shade of green"
  }}
  {{#presentations/slide-body columns=3 alignItems="flex-end"}}
    {{#presentations/slide-column}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded lsgdd-GreenSlide-image--medium" src="images/presentations/living-style-guide-driven-development/green-medium-combo.png" alt="Medium">
    </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded lsgdd-GreenSlide-image--ectoCooler" src="images/presentations/living-style-guide-driven-development/green-ecto-cooler.jpg" alt="Ecto Cooler">
    </div>
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer">
        <img class="lsgdd-Image u-rounded lsgdd-GreenSlide-image--spotify" src="images/presentations/living-style-guide-driven-development/green-spotify.jpg" alt="Spotify">
      </div>
    {{/presentations/slide-column}}
  {{/presentations/slide-body}}
  {{#reveal-slide-notes}}
Let's leave selecting shades of green to the professionals  
  {{/reveal-slide-notes}}
{{/reveal-slide}}
