{{#reveal-slide class="lsgdd-FreestyleSlide lsgdd-ObjectivesSlide"}}
  {{presentations/slide-header
    super=""
    main="The Promise"
    sub="Of Living Style Guide Driven Development"
  }}
  {{#presentations/slide-body columns=2}}
    {{#presentations/slide-column}}
      {{#presentations/slide-list}}
        {{#presentations/slide-list-item}}Simplify web design process{{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Shorten feedback cycles
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Designers</li>
            <li>Developers</li>
            <li>Various humans</li>
          </ul>
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item}}
          Showcase design state
        {{/presentations/slide-list-item}}
        {{#presentations/slide-list-item type="sub"}}
          <ul>
            <li>Using live presentation codebase</li>
          </ul>
        {{/presentations/slide-list-item}}
      {{/presentations/slide-list}}
    {{/presentations/slide-column}}
    {{#presentations/slide-column}}
      <div class="lsgdd-TightContainer lsgdd-ObjectivesSlide-promiseContainer">
        <img class="lsgdd-Image lsgdd-ObjectivesSlide-promise" src="assets/images/presentations/living-style-guide-driven-development/living-style-guide-promise.png" alt="Self-fulfilling promise">
        {{!-- <div class="lsgdd-ObjectivesSlide-promiseTease">
          With something that looks like this
        </div> --}}
      </div>

    {{/presentations/slide-column}}

  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
