{{#presentations/testimonial-slide
    name="Chris Tse"
    description="CTO, Monegraph"
    image="images/presentations/living-style-guide-driven-development/chris-tse.jpg"
}}
  <p>
    Living style guides are amazing. The only thing that would make them better would be the ability to copy/paste style cards across the web with CardStack.
  </p>
{{/presentations/testimonial-slide}}
