{{#presentations/testimonial-slide
    name="Chris Gardella"
    description="Designer, Monegraph"
    image="assets/images/presentations/living-style-guide-driven-development/chris-gardella.jpg"
}}
  <p>
    As engineers implement design revisions, misunderstandings emerge, resulting in a lot of back and forth to clarify the designer&rsquo;s intent. The living style guide gets around all of that. It&rsquo;s very liberating to see changes enacted immediately.
  </p>
{{/presentations/testimonial-slide}}
