{{#presentations/testimonial-slide
    name="Tim Kompanchenko"
    description="CTO, Collectrium"
    image="images/presentations/living-style-guide-driven-development/tim-kompanchenko.jpg"
}}
  <p>
    At Collectrium, our living style guide provided a great way to get buy-in on new artwork label design standards before they went live in all our apps.
  </p>
{{/presentations/testimonial-slide}}
