{{#reveal-slide}}
  {{presentations/slide-header
    super=""
    main="Multiple Sources of Truth"
    sub="Create Design Confusion"
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        It matters more that a border radius is correct in a running app than in Sketch.
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        So why do we isolate designers' perfectionist skills in separate design files?
      </div>
    </div>
    <div class="lsgdd-Quote lsgdd-Quote--tight u-flex100">
      <div class="lsgdd-Quote-text">
        The true state of a design lies in the presentation codebase.
      </div>
    </div>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
