{{#reveal-slide class="lsgdd-WhatsSoHardSlide"}}
  {{presentations/slide-header
    super=""
    main="Why is web development so hard?"
    sub="What's so complicated about..."
  }}
  {{#presentations/slide-body}}
    <div class="lsgdd-Quote u-flex100">
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced">
        Interdisciplinary teams collaborating to
      </div>
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced">
        continuously deliver modern applications
      </div>
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced">
        targeting the latest browsers and devices in an
      </div>
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced">
        action-packed JavaScript landscape
      </div>
      <div class="lsgdd-Quote-text lsgdd-Quote-text--spaced fragment">
        amidst ongoing product decisions?
      </div>
    </div>
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
