{{#reveal-slide class="lsgdd-Year2000Slide"}}
  {{presentations/slide-header
    super=""
    main="In The Year 2000"
    sub="I Built My First Website"
  }}
  {{#presentations/slide-body}}
    {{#presentations/slide-list}}
      {{#presentations/slide-list-item type="borderless"}}Actual Feedback{{/presentations/slide-list-item}}
      {{#presentations/slide-list-item type="sub"}}
        <div class="lsgdd-Quote u-flex100">
          <div class="lsgdd-Quote-text lsgdd-Year2000Slide-quoteText">
            You should work with this designer buddy of mine.
          </div>
        </div>
        <div class="lsgdd-Quote u-flex100">
          <div class="lsgdd-Quote-text lsgdd-Year2000Slide-quoteText">
            Nice use of frames!
          </div>
        </div>
      {{/presentations/slide-list-item}}
    {{/presentations/slide-list}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
    <div class="lsgdd-TightContainer">
      <img class="lsgdd-Image u-rounded u-grayscale lsgdd-Year2000Slide-image--conan" src="assets/images/presentations/living-style-guide-driven-development/conan-the-year-2000.jpg" alt="In the year 2000... in the year 2000...">
    </div>
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
- Band needed website
- In retrospect, our tech was better than our music
- Although the design stymied me, I was hooked
- Glimpsing our future
  {{/reveal-slide-notes}}
{{/reveal-slide}}
