<div class='license-summary-body'>
  {{lsgdd/offer-composition/composition-summary offerComposition=offerComposition work=work}}
</div>
{{#if offerComposition.canTransferTitle}}
  <div class='license-summary-footer'>
    <span class="icon icon-settings-gear"></span>
    <span class='license-summary-cta'>Customize License</span>
  </div>
{{/if}}
