$classification-animation-duration: .3s;
$classification-margin: 10px;

.facet-editor.classification-editor {
  color: monegraph-palette-color(dark-gray);
  padding: monegraph-gs(1/3) !important;
  line-height: initial !important;
  min-width: monegraph-gs(10);
  // @include breakpoint(
  //   $breakpoint-max-height-iphone-6-portrait
  // ) {
  //   padding-top: 0;
  // }

  .offer-composition-instructions {
    @include offer-composition-instructions;

    // @include breakpoint($breakpoint-max-height-iphone-5-portrait) {
    //   font-size: 1.3rem;
    //   padding: 5px 0;
    // }
    //
    // @include breakpoint($breakpoint-max-height-iphone-4-portrait) {
    //   font-size: 1.2em;
    //   padding: 4px 0;
    // }
  }

  .classification-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -1 * $classification-margin !important;
    margin-top: monegraph-gs(1) !important;

    // @include breakpoint($breakpoint-max-height-iphone-6-portrait) {
    //   margin-top: 0;
    //
    //   &.list {
    //     display: block;
    //
    //     .classification-item {
    //       @include flex-basis(none);
    //       position: relative;
    //
    //       &:nth-child(2n + 1) {
    //         text-align: left;
    //       }
    //
    //       .classification-circle {
    //         height: 80px;
    //         width: 80px;
    //         border-width: 4px;
    //
    //         .offer-composition-facet-option {
    //           font-size: 0.8rem;
    //
    //           &:before {
    //             font-size: 25px;
    //           }
    //         }
    //       }
    //
    //       .description {
    //         color: monegraph-palette-color(magenta);
    //         display: block;
    //         position: absolute;
    //         top: 20px;
    //         margin-left: 100px;
    //         font-weight: 500;
    //       }
    //     }
    //
    //     #facet-option-description {
    //       display: none;
    //     }
    //   }
    // }

    // @include breakpoint($breakpoint-max-height-iphone-5-portrait) {
    //   &.list {
    //     .classification-item {
    //       .classification-circle {
    //         height: 65px;
    //         width: 65px;
    //         border-width: 3px;
    //         margin-bottom: 5px;
    //
    //         .offer-composition-facet-option {
    //           font-size: 0.6rem;
    //
    //           &:before {
    //             font-size: 22px;
    //           }
    //         }
    //       }
    //       .description {
    //         margin-left: 80px;
    //         font-size: 0.8rem
    //       }
    //     }
    //   }
    // }

    // @include breakpoint($breakpoint-max-height-iphone-4-portrait) {
    //   &.list {
    //     .classification-item {
    //       .classification-circle {
    //         height: 50px;
    //         width: 50px;
    //         border-width: 2px;
    //         margin-bottom: 3px;
    //
    //         .offer-composition-facet-option {
    //           font-size: 0.5rem;
    //
    //           &:before {
    //             font-size: 16px;
    //           }
    //         }
    //       }
    //       .description {
    //         margin-left: 70px;
    //         top: 10px;
    //       }
    //     }
    //   }
    // }
  }

  .classification-not-editable {
    text-align: center;
    margin-top: monegraph-gs(1/3) !important;
    margin-left: monegraph-gs(1/3) !important;
    padding: 0 monegraph-gs(1/3) !important;
    color: monegraph-palette-color(red);
    font-weight: bold !important;
  }

  .classification-item {
    flex-basis: 50%;

    &:nth-child(n + 1) {
      text-align: left;
    }
    &:nth-child(2n + 1) {
      text-align: right;
    }

    .description {
      display: none;
    }
  }

  .classification-circle {
    color: monegraph-palette-color(magenta);
    position: relative;
    display: inline-block;
    text-align: center;
    height: 150px;
    width: 150px;
    background: none;
    border: 6px solid monegraph-palette-color(magenta) !important;
    border-radius: 60%;
    margin-bottom: $classification-margin !important;
    margin-left: $classification-margin !important;
    // @include transition(background-color $classification-animation-duration, color $classification-animation-duration);

    // @include breakpoint($breakpoint-max-height-iphone-5-portrait) {
    //   border-width: 4px;
    // }
    //
    // @include breakpoint($breakpoint-max-height-iphone-5-portrait) {
    //   border-width: 3px;
    //   height: 120px;
    //   width: 120px;
    // }
    //
    // @include breakpoint($breakpoint-max-height-iphone-4-portrait) {
    //   height: 80px;
    //   width: 80px;
    //   border-width: 2px;
    //   margin-bottom: $classification-margin / 2;
    //   margin-left: $classification-margin / 2;
    // }

    &.selected {
      background-color: monegraph-palette-color(magenta);
      color: monegraph-palette-color(light-gray);
    }

    .offer-composition-facet-option {
      display: inline-block;
      // margin-top: -.6rem;
      padding-top: 35%;
      @include monegraph-font-weight-medium;
      font-size: 1.1rem !important;

      // @include breakpoint($breakpoint-max-height-iphone-5-portrait) {
      //   font-size: 0.9rem;
      //   margin-top: -.5rem;
      // }
      //
      // @include breakpoint($breakpoint-max-height-iphone-4-portrait) {
      //   font-size: 0.6rem;
      //   margin-top: -.4rem;
      // }

      &:before {
        font-size: 50px !important;
        display: block;
        margin-bottom: 5px !important;

        // @include breakpoint($breakpoint-max-height-iphone-5-portrait) {
        //   font-size: 38px;
        // }
        //
        // @include breakpoint($breakpoint-max-height-iphone-4-portrait) {
        //   font-size: 27px;
        // }
      }
    }
  }

  #facet-option-description {
    text-align: center;
    margin: 20px 40px !important;
    font-weight: 500 !important;
    font-size: 1.1rem !important;
    color: monegraph-palette-color(magenta);

    &.not-editable {
      display: none;
    }

    // @include breakpoint($breakpoint-max-height-iphone-4-portrait) {
    //   margin: 0px 20px 10px;
    //   font-size: 0.8rem;
    // }
    // @include breakpoint(
    //   $breakpoint-max-height-iphone-6-portrait
    // ) {
    //   margin-top: 0;
    // }
  }
}
